  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ネーム</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '100x100' %></td>
        <td><%= user.name %></td>
        <td><a href=<%= "users/#{user.id}/my_page" %>>show</a></td>
        <!--以前の設定ではusers/user.id/my_pageと設定していたが、それではaタグで行っているのでそのままHTML文で表示されてしまう。
        そのためURL部分のみruby処理を行い、user.id部分を式展開#{}で行う-->
      </tr>
    <% end %>
  </tbody>
