<div style="padding-top:120px; padding-bottom:70px;">
  <h2>検索結果</h2>

  <table class="table table-hover table-inverse">
    <% if @range == "ユーザー" %>
      <tbody>
        <%= render 'users_index', users: @users %>
      </tbody>
    <% else %>
      <tbody>
        <%= render 'posts_index', posts: @posts %>
      </tbody>
    <% end %>
  </table>
</div>