<div style="padding-top:120px;">
  <%= image_tag "about.png", alt: "...", size: "800x600", class: "d-block mx-auto" %>
</div>
<div style="padding-top:20px; padding-bottom:70px;">
  <%= image_tag "about_notice.png", alt: "...", size: "800x600", class: "d-block mx-auto" %>
</div>