<div style="padding-top:70px;">
  <div class='px-4 py-5 my-5 text-center'>
    <h1 class="display-5 fw-bold">ようこそ <strong>Car Fan</strong>  へ!!</h1>
      <div class="col-lg-6 mx-auto">
        <p>カーファンは車好きの、車好きによる、車好きの方のためのサイトです！</p>
        <p>車に興味がある方なら大歓迎！</p>
        <p>同じ趣味の方と一緒に車を通して交流しませんか？</p>
        <div class="d-grid gap-5 justify-content-sm-center">
          <%= link_to 'ログイン画面へ', new_user_session_path, class: "btn btn-info btn-lg px-4 gap-3 sign_in" %>
          <%= link_to '新規登録画面へ', new_user_registration_path, class: "btn btn-success btn-lg px-4 sign_up" %>
        </div>
      </div>
  </div>
</div>