<div style="padding-top:120px;">
  <div class='px-4 py-5 my-5 text-center'>
    <h1 class="display-5 fw-bold"><b>管理者ページ</b></h1>
      <div class="col-lg-6 mx-auto">
        <p>管理者ページでは、ユーザーのアカウント処理</p>
        <p>または投稿の削除が可能です</p>
        <p>なおコメントの閲覧は不可のためご注意ください</p>
        <div class="d-grid gap-5 justify-content-sm-center">
          <%= link_to 'ユーザー一覧へ', admin_users_path, class: "btn btn-info btn-lg px-4 gap-3 sign_in" %>
          <%= link_to '投稿一覧へ', admin_posts_path, class: "btn btn-success btn-lg px-4 sign_up" %>
        </div>
      </div>
  </div>
</div>