<% if post_comment.errors.any? %>
  <div id="error_explanation" style="background-color:#FF3300; color:white;">
    <h5>
      <%= post_comment.errors.count %>件のエラーが生じています:
    </h5>

    <ul>
      <% post_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>