<footer >
  <nav class="navbar navbar-expand-lg fixed-bottom text-white", style="margin-top:auto; background-color:#0033FF;">
    <p id="notice", style="background-color:yellow; color:black;"><%= flash[:notice] %></p>
    <div class='mx-auto'>
      <p><b>©CarFan</b></p>
    </div>
  </nav>
</footer>
